<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean
		class="org.springframework.web.socket.server.standard.ServletServerContainerFactoryBean">
		<property name="maxTextMessageBufferSize" value="8192" />
		<property name="maxBinaryMessageBufferSize" value="8192" />
	</bean>

	<websocket:handlers>
		<websocket:mapping path="/chat" handler="chatHandler" />
		<websocket:mapping path="/file" handler="fileHandler" />
		<websocket:handshake-interceptors>
			<bean class="com.wms.studio.websocket.hand.HandshakeInterceptor" />
		</websocket:handshake-interceptors>
	</websocket:handlers>

</beans>
