<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<description>导入系统中的applicationContext文件列表</description>

	<import resource="rpc/dubbo-rpc.xml" />
	<import resource="security/shiro-security.xml"/>
	
</beans>
